section#video-block.video-block
	.video-poster(style="background-image:url(images/video-poster.jpg)")
		a.video-control.js-play-video-fancybox(href="https://www.youtube.com/watch?v=-fgYhanAkhw")
			+svg-icon('play-icon')
