@import "../../../../node_modules/slick-carousel/slick/slick.scss";

.slick-nav-btn {
	position: absolute;
	top: 50%;
	margin-top: -$btn-height/2;
	padding-right: 12px;
	padding-left: 12px;
	
	&--prev {
		left: -90px;
	}
	
	&--next {
		right: -90px;
	}
	
	svg {
		display: block;
		position: relative;
		height: rem2px($font-size-base*$line-height-base);
		width: 14px;
		fill: currentColor;
	}
}