header#header.header
	.py-1.py-sm-2.py-md-3
		.container
			.d-flex.justify-content-between.align-items-center

				include ../logo/logo

				include ../page-nav-menu/page-nav-menu

				include ../toggle-menu-link/toggle-menu-link
