extends ../../layouts/default

include ../../../common/markup/utilites

block TITLE
	title Giant

block CONTENT
	include ../../components/home/home
	include ../../components/features/features
	include ../../components/portfolio/portfolio
	include ../../components/pricing/pricing
	include ../../components/video-block/video-block
	include ../../components/reviews/reviews
	include ../../components/download/download